CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


.idea/
.vscode/

*.log
*.o

obj

# This pile of ignores is necessary, do not change!
lib/*
!lib/src/
lib/src/*
!lib/src/llvm-10.0.1/
lib/src/llvm-10.0.1/*

# Ignores for: /lib/CodeGen
!lib/src/llvm-10.0.1/lib/
lib/src/llvm-10.0.1/lib/*
!lib/src/llvm-10.0.1/lib/CodeGen/
lib/src/llvm-10.0.1/lib/CodeGen/*

!lib/src/llvm-10.0.1/lib/CodeGen/RegAllocCoco.cpp
!lib/src/llvm-10.0.1/lib/CodeGen/CMakeLists.txt
!lib/src/llvm-10.0.1/lib/CodeGen/CodeGen.cpp
!lib/src/llvm-10.0.1/lib/CodeGen/MachineFunctionCodePointerHidingPass.cpp
!lib/src/llvm-10.0.1/lib/CodeGen/TargetPassConfig.cpp

# Ignores for: /include/llvm
!lib/src/llvm-10.0.1/include/
lib/src/llvm-10.0.1/include/*
!lib/src/llvm-10.0.1/include/llvm/
lib/src/llvm-10.0.1/include/llvm/*

!lib/src/llvm-10.0.1/include/llvm/InitializePasses.h

# Ignores for: /include/llvm/CodeGen
!lib/src/llvm-10.0.1/include/llvm/CodeGen/
lib/src/llvm-10.0.1/include/llvm/CodeGen/*

!lib/src/llvm-10.0.1/include/llvm/CodeGen/Passes.h
!lib/src/llvm-10.0.1/include/llvm/CodeGen/LinkAllCodegenComponents.h
